:root {
  --blue: rgb(41, 74, 109);
  --light-blue: rgb(113, 140, 169);
  --grey: rgb(137, 136, 136);
  --light-grey: rgb(194, 191, 191);
}

html{
  font-size: 18px;
}

body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  
}

.left-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  
}

header{
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: var(--blue);
  width: 30%;
  z-index: 999;
  color: white;
  text-shadow: 1px 1px 2px black;
}

header * {
  margin: 0 0.5rem
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  position: fixed;
  background-color: var(--light-blue) ;
}

#form{
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#form div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.25rem; 
  color: white;
  text-shadow: 1.5px 1.5px 2.5px black;
}

#form input, #form select, #form textarea, #form button {
  border-radius: 10px;
  border: 0px solid black;
  padding: 0.4rem;
}

#form button {
  margin-top: 0.5rem;
}

#form button:hover {
  cursor: pointer;
  box-shadow: 1.5px 1.5px 2.5px black;
}

.right-div {
  display: flex;
  flex-direction: column;
  flex: 1;;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  border-bottom: 1px solid black;
  position: fixed;
  width: 70%;
  background-color: white;
  z-index: 999;
}

.statistics div {
  color: white;
  text-shadow: 1px 1px 2px black;
  width: 100%;
  margin: 1rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--blue);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.statistics div:hover {
  background-color: var(--light-blue);
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
}

.search-bar {
  margin-top: 8rem;
  position: fixed;
  height: 3rem;
  width: 70%;
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 10fr 0.5fr 0.5fr;
  padding: 0 1rem;
  z-index: 998;
  align-items: center;
}

.search-bar input {
  margin: 0.5rem;
  border-radius: 10px;
  border: 0px solid black;
  padding: 0 1rem;
  height: 65%;
}

.search-bar i {
  background-color: white;
  margin: 0 0.125rem;
  justify-self: center;
  padding: 10px;
  border: 1 solid white;
  border-radius: 10px;
  transition: all 0.2s;
}

.search-bar i:hover {
  cursor: pointer;
  background-color: var(--light-grey);
  -webkit-box-shadow: inset 0.75px 0.75px 3px 0.75px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0.75px 0.75px 3px 0.75px rgba(0,0,0,0.75);
  box-shadow: inset 0.75px 0.75px 3px 0.75px rgba(0,0,0,0.75);
}

.search-bar i:active {
  background-color: var(--light-blue);
}

.search-bar i:last-child:active {
  background-color: #FF6666;
}



.hints-wrapper {
  margin-top: 11rem;
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.hints-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hints-list li {
  list-style: none;
  border: solid 2px black;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 80%;
  position: relative;
  transition: all 0.5s;
}

.hints-list li:hover{
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
  transform: scale(1.004);

}

.hints-list h3 {
  font-size: 1.5rem;
  text-align: center;
}

.hints-list h4  {
  font-weight: normal;
}

.hints-list li > * {
  margin: 0.5rem;
}

.hints-list h4 span {
  font-weight: bold;
}

.hint-buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.hint-buttons > * {
  margin: 0 0.20rem;
  border: 0;
  cursor: pointer;
  background-color: white;
  transition: all 0.5s;
}

.hint-buttons a {
  color: black;
}

.hint-buttons a:hover {
  color: var(--light-blue)
}

.hint-buttons button:hover {
  color: #FF6666
}

.hint-buttons button:last-child:hover {
  color:#FFCB47
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 0.75rem;
}
